<div class="container">
    <div class="row">
        <div class="col-md-12 , text-center">
            <img src="https://media.giphy.com/media/10eqvP7UGR34TC/giphy.gif" alt="Munching on those burgers">
            <h3>Eat-That-Burger Baby</h3>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-6">
            <img src="https://media.giphy.com/media/zNsrnGVpCJMOc/giphy.gif" alt="Enjoy your burger">
            <h3>Burgers ready for pick-up</h3>
            <br>

            <ul>

            </ul>
        </div>

        <div class="col-md-6">
            <img src="https://media.giphy.com/media/XbAYSN0jUBQbe/giphy.gif" alt="Eat the all">
            <h3>Burgers that are eaten</h3>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <img src="https://media.giphy.com/media/ud6EmjRF8CICI/giphy.gif" alt="Make that burger">
            <h3>Add a Burger</h3>

            <form>
                <div class="form-group">
                    <p>Enter a burger you want to order and the click the submit button when you made your choice<p><br>
                            <input type="text" id="burger-order">
                </div>

                <button type="submit" class="btn btn-primary">Submit Your Order</button>
            </form>
        </div>
    </div>

    <footer class="jumbotron , text-center">
        <h3>© 2019 Alexander Rocha</h3>
    </footer>

</div>